/AbyssUI/*
/AbyssUIBuild
/abyss_core/abyssnet.h
/abyss_engine/ABI/*.cs
/abyss_engine/obj
/abyss_engine/bin
Abyss-Browser.code-workspace
abyss_engine/.vs/
*.exe
*.dll
*.db
*.vsidx
*cache.v2
*.suo
*.bin
*copilot-chat*
*.vsconfig
*.pdb
*.db-wal
*.db-shm
*.zip

*/AGENTS.md
AGENTS.md
*.log

*/CLAUDE.md
*.claude/

.vscode/

*.pem